{{ define "header" }}
<head>

    <!-- Use the title variable to set the title of the page -->
    <title>{{ .title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">

    <!-- Use bootstrap to make the application look nice -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.min.css">
    <link href="/assets/css/datepicker.css" rel="stylesheet">
    <link href="/assets/css/dashboard.css" rel="stylesheet">

    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/ppgfk-bootstrap-datepicker.js"></script>

</head>
{{ end }}
