{{ define "header" }}
<head>

    <!-- Use the title variable to set the title of the page -->
    <title>{{ .title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">

    <!-- Use bootstrap to make the application look nice -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/bootstrap-icons.css">

    <script src= "/assets/js/bootstrap.bundle.min.js"></script>

</head>
{{ end }}
