<!doctype html>
<!--suppress HtmlUnknownTarget -->
<html lang="en">

{{ template "header" . }}

<body>

<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="/admin">PPGP</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-nav">
        {{ if .is_logged_in }}
        <div class="nav-item text-nowrap">
            <a class="nav-link px-3" href="/auth/logout">Sign out</a>
        </div>
        {{ end }}
    </div>
</header>

<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link {{ if eq .menuSection "dashboard" }}active{{ end }}" href="/admin">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{ if eq .menuSection "processed_votes" }}active{{ end }}" href="/admin/processed_votes">Processed votes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{ if eq .menuSection "raw_votes" }}active{{ end }}" href="/admin/raw_votes">Raw votes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{ if eq .menuSection "users" }}active{{ end }}" href="/user">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{ if eq .menuSection "my_profile" }}active{{ end }}" href="/user/my_profile">My profile</a>
                    </li>
                </ul>
            </div>
        </nav>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 pt-3">
            {{ template "content" . }}
        </main>
    </div>
</div>

</body>
</html>
