{{ define "content" }}
<!--suppress HtmlUnknownTarget -->
<div class="row">
    <div class="col-auto">
        <h1>{{.title}}</h1>
        <div class="card-body">

            {{ if .ErrorTitle }}
                <div class="alert alert-danger">
                    {{ .ErrorTitle }}: {{ .ErrorMessage }}
                </div>
            {{ end }}

            {{ range .ErrorFlashes }}
                <div class="alert alert-danger">Error: {{ . }}</div>
            {{ end }}
            {{ range .SuccessFlashes }}
                <div class="alert alert-success">Success: {{ . }}</div>
            {{ end }}

            <p>
                Use this barcode to add this account to the 2-factor passcode application you use. If you have
                multiple devices or multiple applications, add this account to <strong>all</strong> of them now before
                proceeding with the confirmation step.
            </p>

            <img src="{{ .EnrollImageText }}" alt="Enrollment link image" />

            <p>Issuer: {{ .Issuer }}</p>
            <p>
                Alternately you can use this token to add the account manually to your passcode application.
                Consult with the application's documentation to learn how to add accounts manually.
            </p>

            <table class="table">
                <tbody>
                <tr>
                    <th>Secret</th><td>{{ .Secret }}</td>
                </tr>
                <tr>
                    <th>Stored secret</th><td>{{ .StoredSecret }}</td>
                </tr>
                <tr>
                    <th>Encoded secret</th><td>{{ .EncodedSecret }}</td>
                </tr>
                <tr>
                    <th>Verification code</th><td>{{ .SamplePasscode }}</td>
                </tr>
                <tr>
                    <th>Verification code from encoded</th><td>{{ .EncodedPasscode }}</td>
                </tr>
                </tbody>
            </table>

            <p>
                Enter the current verification code from your 2-factor passcode application. Warning: do not proceed
                until you have set up all devices and passcode applications that need to be able to authenticate
                with this account.
            </p>

            <form method="post" action="/user/2fa/confirm">
                <div class="row">
                    <div class="col">
                        <label for="2fa_verification_code">Verification code</label>
                        <input type="text" name="2fa_verification_code" id="2fa_verification_code" value="" />
                    </div>
                </div>
                <div class="row">
                     <div class="col">
                         <button class="btn btn-warning mt-3 mb-3" type="submit">Confirm</button>
                     </div>
                </div>
            </form>

            <p>Sample passcode: {{ .SamplePasscode }}</p>


        </div>
    </div>
</div>
{{ end }}