{{ define "content" }}
<div class="row">
    <div class="col-auto">
        <h1>{{.title}}</h1>
        <div class="card-body">

            {{ if .ErrorTitle }}
                <div class="alert alert-danger">
                    {{ .ErrorTitle }}: {{ .ErrorMessage }}
                </div>
            {{ end }}

            {{ range .ErrorFlashes }}
                <div class="alert alert-danger">Error: {{ . }}</div>
            {{ end }}
            {{ range .SuccessFlashes }}
                <div class="alert alert-success">Success: {{ . }}</div>
            {{ end }}

            {{ if .twoFaEnabled }}
                    <p>2-factor authentication is currently enabled for your account.</p>
                    <h4>Recovery codes</h4>
                        <p>
                            One-time-use codes in case you have lost or replaced the device with your 2-step verification
                            code application.
                        </p>
                        <div class="d-flex flex-wrap font-monospace" style="max-width: 18rem;">
                            {{ range $element := .recoveryCodes }}
                                <div class="flex-nowrap pe-3 pb-3">{{ $element | asRecoveryCode }}</div>
                            {{ end }}
                        </div>
                    <form method="post" action="/user/2fa/disable">
                        <button class="btn btn-danger mb-3" type="submit">Disable 2-factor authentication</button>
                    </form>
                    <p>Reset your existing 2-factor authentication here:</p>
                    <p>
                        Caution: this will invalidate any existing entries for this site in your 2-step verification
                        code applications (such as Authy, Google Authenticator, Microsoft Authenticator, LastPass
                        Authenticator, or similar).
                        It will also delete your current recovery codes and replace them with new ones.
                    </p>
                    <form method="post" action="/user/2fa/enable">
                        <button class="btn btn-warning mb-3" type="submit">Reset 2-factor authentication</button>
                    </form>
            {{ else }}
                <p>2-factor authentication is <strong>not</strong> currently enabled for your account.</p>

                <form method="post" action="/user/2fa/enable">
                    <button class="btn btn-warning mb-3" type="submit">Enable 2-factor authentication</button>
                </form>

            {{ end }}
        </div>
    </div>
</div>
{{ end }}