{{ define "content" }}
<div class="row">
    <div class="col-auto">
        <h1>{{.title}}</h1>
        <h2>Status</h2>
        <p>Goals scored: {{.goalData.GoalCount}}.</p>
        <p>Data retrieved: {{.goalData.RetrievalDate}}.</p>
    </div>
</div>
{{ end }}