{{ define "content" }}
<div class="row">
    <div class="col-auto">
        <h1>{{.title}}</h1>
        <p>This is the home page.</p>
        <h2>Power Play Goal Information</h2>
        <p>Goals scored: {{.goalData.GoalCount}}.</p>
        <p>As of: {{.goalData.RetrievalDate}}.</p>
    </div>
</div>
{{ end }}