{{ define "content" }}

    <!--suppress HtmlUnknownTarget -->
    <h1>Validation</h1>

    <div class="row">
        <div class="card col-xs-12 col-md-6">
            <div class="card-body">

                {{ if .ErrorTitle }}
                <div class="alert alert-danger">
                    {{ .ErrorTitle }}: {{ .ErrorMessage }}
                </div>
                {{ end }}

                {{ range .ErrorFlashes }}
                    <div class="alert alert-danger">Error: {{ . }}</div>
                {{ end }}
                {{ range .SuccessFlashes }}
                    <div class="alert alert-success">Success: {{ . }}</div>
                {{ end }}

                <form method="post" action="/auth/validateRecoveryCode">
                    <div class="row">
                        <div class="col mb-3">
                            <p>Note: each code can be used only once and will be unavailable once validated.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="recovery_code">Recovery code</label>
                            <input type="text" name="recovery_code" id="recovery_code" value="" />
                            <p>The dash character in the code is accepted but not required.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-primary mt-3 mb-3" type="submit">Validate</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mt-3">
                            <a href="/auth/validate2fa">Use a verification passcode instead</a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

{{ end }}