{{ define "content" }}

    <!--suppress HtmlUnknownTarget -->
    <h1>Validation</h1>

    <div class="row">
        <div class="card col-xs-12 col-md-6">
            <div class="card-body">

                {{ if .ErrorTitle }}
                <div class="alert alert-danger">
                    {{ .ErrorTitle }}: {{ .ErrorMessage }}
                </div>
                {{ end }}

                {{ range .ErrorFlashes }}
                    <div class="alert alert-danger">Error: {{ . }}</div>
                {{ end }}
                {{ range .SuccessFlashes }}
                    <div class="alert alert-success">Success: {{ . }}</div>
                {{ end }}

                <form method="post" action="/auth/validate2fa">
                    <div class="row">
                        <div class="col">
                            <label for="2fa_verification_code">Verification code</label>
                            <input type="text" name="2fa_verification_code" id="2fa_verification_code" value="" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mt-2">
                            <input type="checkbox" name="2fa_trust_this_device" id="2fa_trust_this_device" value="1">
                            <label for="2fa_trust_this_device">Trust this device</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-primary mt-3 mb-3" type="submit">Validate</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mt-3">
                            <a href="/auth/validateRecoveryCode">Use a recovery code instead</a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

{{ end }}