{{ define "content" }}

    <!--suppress HtmlUnknownTarget -->
    <h1>Login</h1>

    <div class="row">
        <div class="card col-xs-12 col-md-6">
            <div class="card-body">

                {{ if .ErrorTitle }}
                <div class="alert alert-danger">
                    {{ .ErrorTitle }}: {{ .ErrorMessage }}
                </div>
                {{ end }}

                {{ range .ErrorFlashes }}
                    <div class="alert alert-danger">Error: {{ . }}</div>
                {{ end }}
                {{ range .SuccessFlashes }}
                    <div class="alert alert-success">Success: {{ . }}</div>
                {{ end }}

                <form class="form" action="/auth/login" method="POST">
                    <div class="form-group row mb-3">
                        <label for="email" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="email" name="email" placeholder="Email address">
                        </div>
                    </div>
                    <div class="form-group row mb-3">
                        <label for="password" class="col-sm-2 col-form-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>
    </div>

{{ end }}