{{ define "content" }}
<div class="row">
    <div class="col-auto">
        <h1>{{.title}}</h1>
        <div class="card-body">

            {{ if .ErrorTitle }}
                <div class="alert alert-danger">
                    {{ .ErrorTitle }}: {{ .ErrorMessage }}
                </div>
            {{ end }}

            {{ range .ErrorFlashes }}
                <div class="alert alert-danger">Error: {{ . }}</div>
            {{ end }}
            {{ range .SuccessFlashes }}
                <div class="alert alert-success">Success: {{ . }}</div>
            {{ end }}

            <!--suppress HtmlUnknownTarget -->
            <form class="form" action="/user/my_profile" method="POST">
                <div class="form-group row mb-3">
                    <label for="email" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        <input
                                type="text"
                                class="form-control"
                                id="email" name="email"
                                placeholder="Email address"
                                value="{{ .userEmail }}"
                        >
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <label for="password" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                        <input
                                type="password"
                                class="form-control"
                                id="password"
                                name="password"
                                autocomplete="new-password"
                                aria-autocomplete="list"
                        >
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <label for="repeatPassword" class="col-sm-2 col-form-label">Repeat password</label>
                    <div class="col-sm-10">
                        <input
                                type="password"
                                class="form-control"
                                id="repeatPassword"
                                name="repeatPassword"
                                autocomplete="new-password"
                        >
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-10">
                        <input type="checkbox" name="removeTrustAllDevices" id="removeTrustAllDevices" value="1">
                        <label for="removeTrustAllDevices">Remove trust from all my devices</label>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Update</button>
            </form>
            <a class="btn btn-warning mt-3" href="/user/2fa/status">2-factor authentication</a>
        </div>
    </div>
</div>
{{ end }}