{{ define "content" }}
<div class="row">
    <div class="col-auto">
        <h1>{{.title}}</h1>

        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {{ range .Users }}
                <tr>
                    <td>{{ .ID }}</td>
                    <td>{{ .Email }}</td>
                    <td>
                        <a class="btn btn-sm btn-primary" href="/user/view/{{ .ID }}">View</a>
                        <a class="btn btn-sm btn-secondary" href="/user/edit/{{ .ID }}">Edit</a>
                    </td>
                </tr>
            {{ end }}
            </tbody>
        </table>
    </div>
</div>
{{ end }}