{{ define "content" }}
<div class="row">
    <div class="col-auto">
        <h1>{{.title}}</h1>

        {{ range .ErrorFlashes }}
            <div class="alert alert-danger">Error: {{ . }}</div>
        {{ end }}
        {{ range .SuccessFlashes }}
            <div class="alert alert-success">Success: {{ . }}</div>
        {{ end }}

        {{ if .user }}
            <!--suppress HtmlUnknownTarget -->
            <form class="form" action="/user/edit/{{ .user.ID }}" method="POST">
                <div class="form-group row mb-3">
                    <label for="email" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        <input
                                type="text"
                                class="form-control"
                                id="email" name="email"
                                placeholder="Email address"
                                value="{{ .user.Email }}"
                        >
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <div class="col-sm-2">Roles</div>
                    <div class="col-sm-10">
                        <label for="roleUser">
                            <input
                                    type="checkbox"
                                    id="roleUser"
                                    name="roleUser"
                                    {{ if .userHasUserRole }}checked="checked"{{ end }}
                            />
                            User
                        </label><br/>
                        <label for="roleAdmin">
                            <input
                                    type="checkbox"
                                    id="roleAdmin"
                                    name="roleAdmin"
                                    {{ if .userHasAdminRole }}checked="checked"{{ end }}
                            />
                            Admin
                        </label><br/>
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <label for="password" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                        <input
                                type="password"
                                class="form-control"
                                id="password"
                                name="password"
                                autocomplete="new-password"
                                aria-autocomplete="list"
                        >
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <label for="repeatPassword" class="col-sm-2 col-form-label">Repeat password</label>
                    <div class="col-sm-10">
                        <input
                                type="password"
                                class="form-control"
                                id="repeatPassword"
                                name="repeatPassword"
                                autocomplete="new-password"
                        >
                    </div>
                </div>
                <button type="submit" class="btn btn-sm mb-3 btn-primary">Update</button>
            </form>
        {{ end }}

        <div class="row">
            <div class="col-auto">
                <!--suppress HtmlUnknownTarget -->
                <a class="btn btn-sm btn-secondary" href="/user">Back to list</a>
            </div>
        </div>
        
    </div>
</div>
{{ end }}