{{ define "content" }}
<div class="row">
    <div class="col-auto">
        <h1>{{.title}}</h1>

        {{ range .ErrorFlashes }}
            <div class="alert alert-danger">Error: {{ . }}</div>
        {{ end }}
        {{ range .SuccessFlashes }}
            <div class="alert alert-success">Success: {{ . }}</div>
        {{ end }}

        {{ if .user }}
            <div class="row">
                <div class="col-sm-4">ID</div>
                <div class="col-sm-8">{{ .user.ID }}</div>
            </div>
            <div class="row">
                <div class="col-sm-4">Email</div>
                <div class="col-sm-8">{{ .user.Email }}</div>
            </div>
        {{ end }}

        <div class="row">
            <div class="col-auto">
                <!--suppress HtmlUnknownTarget -->
                <a class="btn btn-sm btn-primary" href="/user">Back to list</a>
            </div>
        </div>

    </div>
</div>
{{ end }}